<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body >

<header>
    <nav>
        <div class="nav-wrapper">
          <a href="/index" class="brand-logo">SegShare</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/index">Home</a></li>
            <li><a href="/faturar">Faturar</a></li>
          </ul>
        </div>
      </nav>
</header>

<main class="container">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="http://lorempixel.com/150/150/people/" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  Danilo Péla Izac</br>
                  Dados para seguro gerado com sucesso!!
                </span>
              </div>
            </div>
          </div>

          <ul class="collection with-header">
            <li class="collection-header"><h4>Viagens</h4></li>
            <li class="collection-item">Veiculo - Corollar | Condutor - Danilo Péla Izac | Viagem - 21345642 | Duracao - 21345642 | Inicio - 21345642 | Fim -21345642 | Segurado -Danilo Péla Izac</li>
            <li class="collection-item">Veiculo - Corollar | Condutor - Danilo Péla Izac | Viagem - 21345642 | Duracao - 21345642 | Inicio - 21345642 | Fim -21345642 | Segurado -Danilo Péla Izac</li>
            <li class="collection-item">Veiculo - Corollar | Condutor - Danilo Péla Izac | Viagem - 21345642 | Duracao - 21345642 | Inicio - 21345642 | Fim -21345642 | Segurado -Danilo Péla Izac</li>
            <li class="collection-item">Veiculo - Corollar | Condutor - Danilo Péla Izac | Viagem - 21345642 | Duracao - 21345642 | Inicio - 21345642 | Fim -21345642 | Segurado -Danilo Péla Izac</li>
          </ul>

          <ul class="pagination">
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!">6</a></li>
              <li class="waves-effect"><a href="#!">7</a></li>
              <li class="waves-effect"><a href="#!">8</a></li>
              <li class="waves-effect"><a href="#!">9</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>